@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700');
/* font-family: 'Open Sans', sans-serif; */

/* font-family: 'Roboto', sans-serif; */

/* font-family: 'Oswald', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: no-repeat;
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.white_bg {
    background-color: #fff !important;
}

.gray_bg {
    background-color: #f1f1f1;
}

.header {}

.logo_text {
    padding: 0px;
}

.logo_text h2 {
    font-size: 18px;
    color: #005397;
    font-weight: 700;
    margin: 15px 0px 10px 0px;
    font-family: 'Roboto', sans-serif;
}

.header_bottom {
    position: relative;
    padding-top: 10px;
}

.address {
    font-size: 12px;
    color: #c42949;
    font-weight: bold;
    margin-bottom: 0px;
    position: relative;
}

p.address::after {
    position: absolute;
    content: '(Govt Recognised)';
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    left: 0px;
    right: 0px;
    top: 24px;
}

.header {
    padding: 8px 0px;
    position: relative;
    background: #fff;
}

.header img {
    display: inline;
    max-width: 100%;
}

.address {
    display: none;
    text-transform: uppercase;
    top: -4px;
}

.logo_text {
    text-align: center;
}

.logo_text+div {
    display: none;
}

@media(max-width:579px) {
    .header .logo img {
        width: 120px;
        margin: auto;
        display: inherit;
    }
    .logo_text h2 {
        font-size: 24px;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }
    .header_bottom {
        position: relative;
        padding-top: 10px;
        text-align: center;
    }
    .header_bottom .social_sharing {
        float: none;
    }
}

@media(min-width:580px) {
    .header .col-lg-8 {
        width: 66.66666667%;
        float: left;
    }
    .header .col-lg-2 {
        width: 16.666%;
        float: left;
    }
    .logo_text+div {
        display: block;
    }
    .logo_text h2 {
        font-size: 28px;
    }
    .header_bottom {
        padding-top: 0px;
    }
}

@media (min-width: 640px) {
    .logo_text h2 {
        font-size: 25px;
        margin: 0px 0px 10px 0px;
    }
}

@media (min-width: 768px) {
    .logo_text h2 {
        font-size: 30px;
    }
    .address {
        font-size: 12px;
        display: block;
    }
    .header .col-lg-8 {
        width: 66.66666667%;
        float: left;
    }
    .about_section .col-lg-5 {
        width: 41.66666667%;
        float: left;
    }
    .about_section .col-lg-7 {
        width: 58.33333333%;
        float: left;
    }
    .header_bottom {
        display: none;
    }
}

@media(max-width:1100px) {
    .events_slider .owl-next {
        right: 0 !important;
    }
}

@media (min-width: 992px) {
    .logo_text h2 {
        font-size: 50px;
        margin: 0px 0px 2px 0px;
    }
    .address {
        font-size: 18px;
    }
    .header_bottom {
        padding-top: 22px;
    }
    .social_sharing {
        float: right;
    }
    .header_bottom {
        display: block;
    }
}

@media (min-width: 1100px) {
    .logo_text h2 {
        font-size: 50px;
    }
    .events_slider .owl-prev {
        left: 0 !important;
    }
}

@media (min-width: 1200px) {
    .logo_text h2 {
        font-size: 52px;
        font-size: 55px;
        padding-top: 5px;
    }
    .address {
        font-size: 20px;
    }
}

@media(max-width:767px) {
    .navbar-header {
        background: #8dbc4a;
    }
    div[class^="col-lg-"]:not(:first-child) {
        padding-top: 30px !important;
    }
    .contact-form,
    .g_map {
        margin-top: 0;
    }
}

/* header start*/

/*--- Common button---- */

a.btn1,
.btn1 {
    display: inline-block;
    color: #fff;
    background: #fb5e1c;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    padding: 6px 25px;
    font-weight: 500;
    z-index: 2;
}

.btn1_hover {
    position: relative;
}

.btn1_hover:hover {
    color: #fb5e1c;
    border: none;
}

.btn1_hover::after {
    position: absolute;
    box-shadow: inset 0 0 0 0 #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    /* border-radius: 25px; */
    z-index: -1;
    /* border: 1px solid #fb5e1c; */
}

.btn1_hover:hover::after {
    box-shadow: inset 0 0 0 163px #fff;
}

/* header */

/* header */

/* menu */

.main_bg {
    background: url('../images/banner_3.jpg');
    background-size: contain;
    position: relative;
}

.main_bg::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.banner_slider,
.menu_area .navbar {
    box-shadow: 0px 1px 4px 4px rgba(165, 158, 158, 0.6);
}

.menu_area ul li {
    display: block;
}

.menu_area ul {
    text-align: center;
}

.menu_area .navbar {
    margin: 0px;
    border: 0px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.home_banner {
    background: url('../images/banner_bg.jpg') top center no-repeat;
    background-size: cover;
}

.menu_area ul li {
    position: relative;
}

.menu_area ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    padding: 0px 30px;
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.menu_area ul li a:hover {}

.menu_area ul ul li a {
    line-height: 35px;
    font-size: 15px;
    color: #383838;
}

.menu_area ul ul li:hover>a {
    color: #fff;
}

.menu_area ul ul ul li a {
    color: #383838;
}

.menu_area ul ul ul li:hover a {
    color: #fff;
    background-color: #d5ab56;
}

.menu_area ul ul li {
    display: block;
}

.menu_area .navbar-toggle {
    background-color: #005397;
    border: 1px solid #ffffff;
}

.menu_area .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.menu_area .navbar-inverse .navbar-toggle .icon-bar {
    border: 1px solid #fff;
    background-color: #fff;
}

.menu_area .navbar-inverse .navbar-toggle:hover,
.menu_area .navbar-inverse .navbar-toggle:focus {
    background-color: #d5ab56;
}

span.toggle_menu {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    padding-left: 15px;
}

.navbar-inverse .navbar-collapse {
    padding: 0px;
    margin: 0px;
}

.menu_area .navbar-collapse>ul>li:nth-child(1) {
    background-color: #3F51B4;
}

.menu_area .navbar-collapse>ul>li:nth-child(2) {
    background-color: #FF9800;
}

.menu_area .navbar-collapse>ul>li:nth-child(3) {
    background-color: #4CAF50;
}

.menu_area .navbar-collapse>ul>li:nth-child(4) {
    background-color: #9C27B0;
}

.menu_area .navbar-collapse>ul>li:nth-child(5) {
    background-color: rgb(245, 9, 166);
}

.menu_area .navbar-collapse>ul>li:nth-child(6) {
    background-color: #FF5722;
}

.menu_area ul li ul li {
    width: 100%;
    display: block;
    text-align: left;
}

.menu_area ul li ul li a {
    display: block;
}

.menu_area ul ul li:hover>a {
    background-color: #FF9800;
}

.menu_area ul li i.fa {
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu_area ul ul li i.fa {
    top: 12px;
}

.menu_area ul li a {
    font-size: 16px;
    padding: 0px 22px;
}

.menu_area ul ul ul li a {
    color: #252525;
}

.padding-top-zero {
    padding-top: 0px !important;
}

.img-box {
    border: 4px solid #d2d2d2;
    padding: 5px;
}

.menu_area ul ul {
    background-color: #fff;
}

.menu_area ul ul {
    display: block;
}

@media(min-width:768px) {
    .menu_area ul li ul {
        display: none;
    }
    .menu_area ul ul {
        position: absolute;
        border: 1px solid #ffa929;
        border-top: 0;
    }
    span.toggle_menu {
        display: none;
    }
    .menu_area ul li {
        display: inline-block;
        width: 16.666%;
        float: left;
    }
    .menu_area ul ul ul {
        left: 100%;
        top: calc(100% - 35px);
        width: 110px;
        border: 1px solid #ffa929;
        border-top: 0;
    }
    .menu_area ul li:hover>ul {
        display: block;
    }
    .menu_area ul ul {
        top: 100%;
        z-index: 55;
        width: 220px;
    }
}

@media(min-width:1024px) {
    .menu_area ul li a {
        font-size: 18px;
        padding: 0px 30px;
    }
}

/* menu */

/* news */

.news_section {
    color: #fff;
    padding: 12px 0px;
    font-size: 16px;
    font-weight: bold;
    background-color: #c42b4c;
}

/* banner */

.home_banner .carousel-inner>.item>img,
.home_banner .carousel-inner>.item>a>img {
    width: 100%;
}

.home_banner .container {
    padding: 0;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 35px;
    height: 35px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 16px;
    background: #000;
    line-height: 32px;
    border: 1px solid #fff;
    font-weight: normal;
}

@media(min-width:768px) {
    .home_banner .container {
        padding: 0px 15px;
    }
}

/* banner */

/* welcome */

.welcome_section {
    padding: 30px 15px;
}

.welcome_section .col-lg-8 {
    text-align: justify;
}

.section-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 40px;
    color: #222;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 20px;
}

.section-title h2 span {
    color: #d5ab56;
}

.main_contain {
    padding: 0px;
}

.space_top_news {
    padding-top: 30px;
}

.img-zoom-effect {
    text-align: center;
}

.img-zoom-effect img {
    display: inline;
    ;
}

@media(min-width:768px) {
    .main_contain {}
    .space_top_news {
        padding-top: 0px;
    }
    .welcome_section .col-lg-8 {
        float: left;
        width: 66.66%;
    }
    .welcome_section .col-lg-4 {
        width: 33.33%;
        float: left;
    }
    .our_section .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}

@media(min-width:1100px) {
    .section-title h2 {
        font-size: 28px;
    }
}

/* welcome */

/* welcome gallery*/

.our_section {
    padding: 30px 15px 0px 15px;
    border-top: 2px solid #d5ab56;
}

.home_gallery {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px #d2d2d2;
}

.text_area {
    padding: 15px;
    text-align: center;
}

.text_area h2 {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    font-size: 22px;
    text-transform: uppercase;
}

.text_area p {
    text-align: justify;
}

.text_area a {
    background-color: #d5ab56;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    margin-top: 15px;
}

.welcome_section .bx-wrapper {
    margin: 0px !important;
    padding: 8px 10px;
    box-shadow: none !important;
}

.news_slider li {
    background-color: #f6edcc;
    padding: 10px 15px;
}

a.btn_text {
    background-color: #d5ab56;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    margin-top: 15px;
}

.video_div {
    padding-bottom: 30px;
}

.image_area img {
    display: inline;
    width: 100%;
}

@media(min-width:768px) {
    .image_area {
        height: 215px;
    }
    .text_area p {
        min-height: 160px;
        height: 160px;
        overflow: hidden;
    }
    .image_area img {
        height: 100%;
    }
}

@media(min-width:992px) {
    .text_area p {
        min-height: 140px;
    }
    .inner_section .col-lg-8 {
        width: 66.666%;
    }
    .inner_section .col-lg-4 {
        width: 33.333%;
    }
}

/* welcome gallery*/

/* footer area*/

.footer {
    background-color: #c42b4c;
    padding: 15px 0px;
    text-align: center;
    color: #ffffff;
}

.footer a {
    color: #fbe205;
    font-weight: 600;
}

/* footer area*/

/* facebook*/

.social_sharing span {
    padding-right: 8px;
}

.social_sharing a i {
    width: 26px;
    height: 26px;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
}

.social_sharing a:hover {
    text-decoration: none;
}

i.fa.fa-facebook {
    background-color: #005397;
}

i.fa.fa-twitter {
    background-color: #00aedd;
}

i.fa.fa-google-plus {
    background-color: #f1030e;
}

i.fa.fa-skype {
    background-color: #00aedd;
}

i.fa.fa-linkedin {
    background-color: #005397;
}

/* facebook*/

/* inner */

.inner_banner img {
    width: 100%;
}

.inner_section {
    padding: 30px 15px;
}

.point_text li {
    position: relative;
    padding-left: 35px;
    padding-bottom: 13px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

.point_text li::before {
    content: '\2713';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e29b0b;
    color: #fff;
    text-align: center;
}

ul.point_text {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.more_text {
    margin-top: 30px;
    text-align: justify;
}

.border_box {
    box-shadow: 2px 2px 8px #d2d2d2;
    border: 1px solid #d5ab56;
}

.padding_bot {
    margin-bottom: 30px;
}

.about_sec .border_box {
    display: block;
    text-align: center;
}

.about_sec .border_box img {
    display: inline;
}

@media(min-width:768px) {
    .padding_bot {
        margin-bottom: 0px;
    }
}

@media(min-width:992px) {
    .about_sec .col-lg-8 {
        width: 66.666%;
        float: left;
    }
    .about_sec .col-lg-4 {
        width: 33.333%;
        float: left;
    }
}

/* inner */

/* isotope */

.filter-container {
    padding: 0 20px 30px 20px !important;
}

@media (min-width: 320px) {
    .isotopeFilters ul.filter>li {
        padding: 6px 2px;
    }
}

@media (min-width: 768px) {
    .isotopeFilters ul.filter>li {
        padding: 0 2px;
    }
}

.isotopeFilters ul.filter>li a {
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.isotopeFilters ul.filter>li.active a {
    background-color: #ea7066;
    color: #ffffff;
}

.fancybox-lock .fancybox-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.isotopeSelector img {
    width: 100%;
}

.isotopeSelector:hover img {
    -moz-transform: scale(1.2) rotate(0);
    -o-transform: scale(1.2) rotate(0);
    -ms-transform: scale(1.2) rotate(0);
    -webkit-transform: scale(1.2) rotate(0);
    transform: scale(1.2) rotate(0);
}

.isotopeSelector figure {
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.isotopeSelector .overlay-background {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.isotopeSelector .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.isotopeSelector .overlay .fancybox-pop {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.isotopeSelector .overlay .fancybox-pop i {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #ffffff;
    color: #ffffff;
    line-height: 35px;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.isotopeSelector:hover .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.isotopeSelector:hover .overlay .overlayInfo {
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.isotopeSelector:hover h4 {
    color: #ea7066;
}

/* isotope */

/* contact */

.contact_form {
    padding-bottom: 30px;
}

.contact-widget .single-item {
    position: relative;
    color: #383838;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding: 0px 50px 5px 28px;
    margin-bottom: 0px;
}

.contact-widget .single-item .mail a {
    position: relative;
    color: #383838;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding: 0px 50px 5px 2px;
    margin-bottom: 0px;
    transition: all 500ms ease;
}

.contact-widget .single-item .mail a:hover {
    color: #d5ab56;
    transition: all 500ms ease;
}

.contact-widget .single-item .icon-box {
    position: absolute;
    left: 0px;
    top: 0px;
}

.contact_form input {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    outline: none;
    color: #383838;
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    line-height: 35px;
}

.contact_form textarea {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    outline: none;
    color: #383838;
    width: 100%;
    height: 135px;
    padding: 5px 15px;
    line-height: 35px;
}

.contact_form button {
    background-color: #d5ab56;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: 1px solid #d2d2d2;
}

.contact_section h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
    color: #222;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 20px;
}

.contact-widget .fa {
    color: #d5ab56;
}

.text p {
    color: #383838;
}

.contact-map {
    padding: 30px 0px 0px 0px;
}

@media(min-width:992px) {
    .contact_section .col-lg-4 {
        width: 33.333%;
        float: left;
    }
    .contact_section .col-lg-8 {
        width: 66.666%;
        float: left;
    }
}

/* contact */

/* donate_box */

.donate_box {
    margin-bottom: 30px;
}

.add_res {
    color: #383838;
    font-weight: 600;
}

.donate_section {
    text-align: justify;
}

.donate_box {
    border: 4px solid #d5ab56;
    padding: 12px 15px;
}

.donate_section .title-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    color: #d5ab56;
    font-weight: bold;
}

.donate_section td {
    font-weight: bold;
}

.gold_text {
    color: #e29b0b;
    font-weight: 500;
}

.donate_section {
    padding: 30px 15px;
    background-color: #fff;
}

/* donate_box */

/* activities_sec */

.activities_sec {
    padding-bottom: 30px;
}

.activities_sec ul li {
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    padding-left: 35px;
}

.activities_sec ul li:before {
    content: '\2713';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e29b0b;
    color: #fff;
    text-align: center;
}

.middle_Section {
    background-color: #f1f1f1;
    padding: 30px 0px;
}

.space_top {
    padding-top: 15px;
}

.activities_sec .border_box {
    margin-bottom: 30px;
    display: inline-block;
}

@media(min-width:992px) {
    .activities_sec .border_box {
        margin-bottom: 0px;
    }
    .pull-left-sec {
        float: left;
    }
    .pull-right-sec {
        float: right;
    }
    .activities_sec.middle_Section .col-lg-8 {
        float: right;
    }
}

/* activities_sec */

.bx-viewport {
    height: 280px !important;
}

.bx-wrapper {
    margin: 0px !important;
    border: 0px !important;
}

.news_slider li {
    margin-bottom: 5px !important;
}

.about-us.not-hover:hover {
    background-color: #fff;
    color: #383838;
}

.menu_area ul {
    text-align: center;
}

.large-title {
    margin: 0px;
    padding-bottom: 15px;
    color: #393185;
    font-size: 32px;
}

.small-title {
    color: #000;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 2px solid #8dbc4a;
    padding-bottom: 10px;
    margin: 0px 0px 25px 0px;
}

.about_section {
    padding: 30px 0px;
    /* background: #efefef url(../images/section1_bg.jpg) bottom center no-repeat;
	background-size: contain; */
    background-color: #fff;
    padding: 40px 0px 30px 0px;
}

.about_section ul {
    margin: 0px;
    padding: 0px;
}

.about_section ul li {
    margin: 0px;
    padding: 0px;
    margin: 10px 0px;
    padding: 0px;
    list-style: none;
    background: url(../images/hand-list.png) left top no-repeat;
    font-size: 16px;
    color: #383838;
    padding-left: 30px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.logo_description {
    color: #2e3092;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.img-padd-top {
    margin-top: 30px;
}

.level-1 {
    padding-bottom: 25px;
}

.level-2 {}

.about-us {
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
}

.about-us:hover {
    box-shadow: 0px 0px 8px 0px rgba(255, 143, 7, 0.1);
    background-color: #f0f0f0;
}

.no-border {
    border: 0px;
}

.btn-block {
    width: 100%;
    display: block;
}

.basic-btn {
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    padding: 9px 10px;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.basic-btn:hover {
    background-color: #ffa41e;
    color: #fff;
    text-decoration: none;
}

.intro {
    margin-bottom: 0px;
    line-height: 22px;
}

.image-shade {
    box-shadow: 0px 0px 8px 0px rgb(25, 24, 24);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.welcome-section {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: justify;
}

.about-us h3 {
    margin: 0px 0px 10px 0px;
}

.col-lg-4 .about-us:last-child {
    margin-bottom: 0px;
}

.img-wrapper {
    position: relative;
}

.img-zoom-effect {
    overflow: hidden;
}

.img-zoom-effect img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.img-zoom-effect img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

@media(min-width:768px) {
    .welcome-section .col-lg-8 {
        width: 66.666%;
        float: left;
    }
    .welcome-section .col-lg-4 {
        width: 33.333%;
        float: left;
    }
    .about_section .col-lg-6 {
        width: 50%;
        float: left;
    }
    .about-us {
        margin-bottom: 0px;
    }
}

@media(min-width:1100px) {
    .about-us {
        min-height: 340px;
    }
    .welcome-section {
        padding: 30px;
    }
    .logo_description {
        font-size: 16px;
    }
    .social_sharing span {
        font-size: 16px;
    }
}

/*=================================================== 
             Save Life  CSS
====================================================*/

.save_life {
    padding: 45px 0;
    background: url('../images/savelifebg.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.save_life::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(51, 51, 51, .65);
}

.save {
    position: relative;
    z-index: 2;
    text-align: center;
}

.save h2 {
    text-align: center;
    padding: 10px 70px;
    border-radius: 35px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #2e3092;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    margin: 15px 0 10px 0;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.save h2:hover {
    background-color: #e33333;
    color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.save h3 {
    text-transform: uppercase;
    font-size: 38px;
    line-height: 70px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 10px 0;
}

.save p {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.save_links {
    margin-top: 40px;
}

.save_links a {
    font-weight: 500;
    width: 245px;
    height: 40px;
    display: inline-block;
    color: #f75e10;
    font-size: 16px;
    line-height: 40px;
    background: #fff;
    text-transform: uppercase;
}

.save_links a:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 4px;
}

.save_links a:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.save_links a:hover {
    color: #000;
}

/*=================================================== */

.contact_section {
    background-color: rgba(0, 0, 0, 0.70);
    padding: 30px 0px;
    background: url('../images/banner_1.jpg') bottom center no-repeat;
    background-size: cover;
    position: relative;
}

section.contact_section::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    left: 0px;
}

.contact-form textarea {
    height: 80px;
}

.contact_section h2 {
    font-weight: 600;
}

.g_map {
    border: 4px solid #ffffff;
}

.contact_section p {
    margin-bottom: 5px;
    color: #fff;
}

.contact_section .form-group {
    margin-bottom: 7px;
}

.contact_section .small-title {
    margin: 0px 0px 15px 0px;
    color: #fff;
}

.contact_section .basic-btn {
    margin-top: 5px;
}

@media(min-width:768px) {
    .contact_section .col-lg-5 {
        width: 41.66666667%;
        float: left;
    }
    .contact_section .col-lg-3 {
        width: 25%;
        float: left;
    }
    .contact_section .col-lg-4 {
        width: 33.333%;
        float: left;
    }
}

@media(min-width:992px) {
    .contact-form,
    .g_map {
        margin-top: 0px;
    }
}

/*===================================================
         Upcoming Events CSS
====================================================*/

.upcoming_events {
    padding: 0px 0px 40px 0px;
    background-color: #fff;
}

.event_image,
.event_info {
    display: block;
    vertical-align: top;
    margin-right: -3px;
}

.event_info {
    background: #eff1f3;
}

@media(min-width:580px) {
    .single_event {
        display: flex;
    }
    .event_image {
        width: 47.4%;
    }
    .event_info {
        width: 52.8%;
    }
}

.event_date a {
    margin-bottom: 0;
    display: block;
    padding: 19px 21px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background: #8ec640;
    text-decoration: none;
}

.event_meta {
    padding: 20px;
}

.event_meta h3 {
    margin: 0px;
}

.event_meta h3 a {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.event_meta h3 {
    color: #fff;
    text-decoration: none;
}

.event_meta p {
    margin-top: 10px;
    font-size: 15px;
    color: #7b7b7b;
    line-height: 23px;
    padding-right: 3px;
}

.event_meta ul {
    margin-top: 19px;
}

.event_meta ul li {
    display: inline-block;
    margin-right: 4px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.event_meta ul li:last-child {
    margin-right: 0;
}

.event_meta ul li span {
    color: #000;
    font-size: 14px;
}

.event_meta ul li i {
    margin-right: 3px;
    color: #f75e10;
}

.event_buttons {
    margin-top: 25px;
}

.event_buttons a {
    display: inline-block;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    padding: 6px 15px;
    /* border-radius: 17px; */
    position: relative;
    z-index: 2;
    text-decoration: none;
    background-color: #005397;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.event_buttons a:first-child {
    margin-right: 6px;
}

.events_slider .owl-prev,
.events_slider .owl-next,
.causes_slider .owl-prev,
.causes_slider .owl-next,
.banner_slider .owl-prev,
.banner_slider .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    position: absolute;
    top: calc(50% - 25px);
    background-color: #4caf50;
    color: #fff;
}

.events_slider .owl-prev {
    left: 0px;
}

.events_slider .owl-next {
    right: 0px;
}

.banner_slider .owl-prev {
    left: 0px;
}

.banner_slider .owl-next {
    right: 0px;
}

.events_slider .owl-prev i,
.events_slider .owl-next i,
.causes_slider .owl-prev i,
.causes_slider .owl-next i {
    font-size: 22px;
    color: #bbb;
}

.owl-prev:hover i,
.owl-next:hover i {
    color: #fff;
}

.event_image img {
    height: 100%;
}

#backtotop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    width: 30px;
    height: 32px;
    background: #ffa41e;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    border: 1px solid #fff;
}

.donate_section .table>tbody>tr>td:nth-child(1) {
    color: #3e3e94;
    font-weight: bold;
}

@media(min-width:768px) {
    .donate_section .col-lg-8 {
        width: 66.666%;
        float: left;
    }
    .donate_section .col-lg-4 {
        width: 33.333%;
        float: left;
    }
}

.objective_section {
    padding: 30px 0px;
    background-color: #fff;
}

.registration-form legend {
    color: #2e3092;
    font-size: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid #8ec640;
    font-weight: 600;
}

.registration-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #383838;
}

.registration-form button.btn.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 8px 26px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.main_table thead th {
    cursor: pointer;
    background-color: #f0f0f0;
}

.main_table thead th,
.main_table tbody td {
    white-space: nowrap;
}

.registration-form {
    border: 2px solid #8dbc4b;
    padding: 15px 15px;
    box-shadow: 2px 2px 15px 15px #e6e5e5;
}

a.reg {
    background-color: #e33333;
}

.donate-img-div {
    margin-top: 70px;
}

.record-view {
    position: absolute;
    top: 0px;
    right: 0px;
}

[data-target="#print_preview"] {
    cursor: pointer;
}

#print_preview .modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: bold;
}

.qc_links {
    margin: 0px;
    padding: 0px;
}

.qc_links li a {
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
}

.moral-btn {
    background-color: #005397;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    box-shadow: 4px 4px 8px #5d5e5f;
}

.moral-btn:hover {
    text-decoration: none;
    color: #fff;
}

.add_slider {
    border: 2px solid #d2d2d2;
    padding: 10px;
}

/*----- Product Css Start -----*/

#product_area {
    position: relative;
    padding-top: 30px;
}

.mix {
    display: none;
}

.product_item .mix {
    display: none;
}

.product_filter {
    margin-bottom: 10px;
    text-align: center;
}

.product_filter ul {
    margin: 0px 0 40px;
    padding: 0;
    list-style: none;
}

.product_filter ul li {
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    padding: 12px 22px;
    font-size: 13px;
    border: 1px solid transparent;
    transition: .5s;
    letter-spacing: 1px;
    border-radius: 20px;
    margin: 0px;
    color: #777;
    line-height: 1;
    background: transparent;
}

.product_filter .filter.active {
    color: #ffffff;
    border-color: #d5ab56;
    background-color: #ffb200;
    font-weight: bold;
}

.single_product {
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    background: #fff;
    transition: .5s;
    border: 1px solid #d5ab56;
}

.single_product:hover {
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.25);
}

.product_image {
    overflow: hidden;
    position: relative;
}

.product_image img {
    width: 100%;
    height: auto;
    transition: all 1.5s ease 0s;
}

.single_product:hover img {
    transform: scale(1.2);
}

.single_product .box-content {
    width: 100%;
    padding: 17px 10px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
    transition: all 0.6s ease 0s;
    overflow: hidden;
    opacity: 0;
    background: rgb(254, 196, 45);
    background-image: -webkit-linear-gradient( 90deg, rgb(255, 255, 80) 0%, rgb(244, 61, 36) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(211, 16, 39) 0%, rgb(125, 0, 254) 0%, rgba(255, 255, 255, 0) 100%);
}

.single_product:hover .box-content {
    bottom: 0;
    opacity: 1;
}

.box-content a {
    display: inline-block;
    color: #333;
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 7px;
    transition: .5s;
}

.box-content a:hover {
    color: #d5ab56;
    border-color: #fff;
}

.product_btm_text p {
    color: #8E8E8E;
    text-transform: uppercase;
    font-size: 13px;
}

.product_btm_text h4 {
    text-transform: capitalize;
    margin-top: 17px;
    margin-bottom: 6px;
    font-size: 17px;
}

.product_btm_text h4,
.product_btm_text h4 a {
    color: #333;
}

.new_badge {
    display: inline-block;
    background: #d5ab56;
    color: #fff;
    padding: 3px 12px;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 2px;
}

.single_product span.price {
    color: #d5ab56;
    font-size: 16px;
}

.no-padding {
    padding: 0;
}

.p_rating {
    color: #fec42d;
    cursor: pointer;
}

.pagination {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

.pagination a {
    float: left;
    list-style: none;
    margin-left: 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mix {
    display: none;
}

a.jp-current {
    color: red;
}

.pagination a.jp-current {
    background-color: #d5ab56;
    padding: 0px 10px;
    color: #fff;
}

.jp-previous {
    border: 1px solid #d5ab56;
    padding: 0px 5px;
    color: #000;
}

.jp-next {
    border: 1px solid #d5ab56;
    padding: 0px 5px;
    color: #000;
}

/*----- Product Css End -----*/

.product_image:hover .overlay-box {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1, 1);
    -moz-transform: rotateY(0deg) scale(1, 1);
    -ms-transform: rotateY(0deg) scale(1, 1);
    -o-transform: rotateY(0deg) scale(1, 1);
    transform: rotateY(0deg) scale(1, 1);
}

.product_image .overlay-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    padding: 15px 20px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background-color: rgba(53, 53, 53, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(43, 44, 48, 0.8);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 600ms ease-out 0s;
    -moz-transition: all 600ms ease-out 0s;
    -o-transition: all 600ms ease-out 0s;
    transition: all 600ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
    -moz-transform: rotateY(180deg) scale(0.5, 0.5);
    -ms-transform: rotateY(180deg) scale(0.5, 0.5);
    -o-transform: rotateY(180deg) scale(0.5, 0.5);
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.product_image .overlay-box .content h3 {
    color: #ffb200;
}

.product_image .overlay-box .content .category {
    color: #fff;
}

@media(min-width:768px) {
    .contact-form,
    .g_map {
        margin-top: 20px;
    }
}

#Container {
    min-height: auto !important;
}

marquee {
    cursor: pointer;
}

.gallery a {
    display: none;
}

a.add_btn {
    color: white;
    padding: 5px;
    -webkit-animation: blinks 1.5s infinite;
    -moz-animation: blinks 1.5s infinite;
    -o-animation: blinks 1.5s infinite;
    animation: blinks 1.5s infinite;
    text-decoration: none;
}

.admision {
    cursor: pointer;
}

@-webkit-keyframes blinks {
    0%,
    49% {
        background-color: #3F51B5;
        color: #f9f4f4;
    }
    50%,
    100% {
        background-color: #FFEB3B;
        color: #000;
    }
}

.social_sharing span {
    color: #005397;
    font-weight: 700;
}

.add_slider .owl-nav .owl-prev {
    left: 0px;
    position: absolute;
    top: 50%;
    background: #ffa41e;
    padding: 5px;
    color: #fff;
}

.add_slider .owl-nav .owl-next {
    right: 0px;
    position: absolute;
    top: 50%;
    background: #ffa41e;
    padding: 5px;
    color: #fff;
}